<%= form_with model: @task, class: 'form' do |f|%>
  <p>Please make your changes here:</p>

  <section>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Save Changes", class: "button" %>
  </section>

<%end%>
