
    <h3>Your Tasks</h3>
    <ol id= 'task_list'>
      <% @tasks.each do |task| %> 
      <li>
        <p class='list_title'
          <% if task.completion_date %>
          id= 'strikethrough'
          <% end %>  >
          <strong><%=  link_to "#{task.title}", task_path(task.id) %></strong>
        </p>


        <p class='mark'>
          <% if !task.completion_date %>
            <%= link_to 'Mark Complete', mark_complete_path(task.id), method: :patch %>
            <% else %>
            <%= link_to 'Undo Mark Complete', undo_mark_complete_path(task.id), method: :patch %>
        <% end %>
           | </p>
        <p class='edit'>   <%= link_to "Edit", edit_task_path(task.id) %>   | </p>
        <p class='del'>   <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Delete Task: #{task.title}?"} %></p>
      </li>
    <% end %>
    </ol>

</main
