<%= form_with model: @task, class: "task-form" do |f|%>
  <p>Please provide the following information to save your task to our database:</p>

  <section class = 'form fields'>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Save Task", class: "task-button" %>
  </section>

<%end%>
