<h2>Task: <%= @task.title %> </h2>
<ul>
  <li>Description: <%= @task.description %></li>
  <li>Completion Date:
      <% if !@task.completion_date %>
          incomplete
      <% else %>
        <%= @task.completion_date %>
      <% end %></li>
  <li><%= link_to "Edit", edit_task_path(@task.id) %></li>
  <li><%= link_to "Delete", task_path(@task.id), method: :delete, data: {confirm: "Delete Task: #{@task.title}?"} %></li>
</ul>
