<link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">

<h2>Task: <%= @task.title %> </h2>
<section id= 'show'>
  <p id= 'desc'>Description: <%= @task.description %></p>

  <p id= 'comp'>Completed:
      <% if !@task.completion_date %>
          Not Yet!
      <% else %>
        <%= @task.completion_date %>
      <% end %>
  </p>

  <p id= 'mark'><% if !@task.completion_date %>
        <%= link_to 'Mark Complete', mark_complete_path(@task.id), method: :patch %>
      <% else %>
        <%= link_to 'Undo Mark Complete', undo_mark_complete_path(@task.id), method: :patch %>
      <% end %>
  </p>

  <p id= 'edit'><%= link_to "Edit", edit_task_path(@task.id) %></p>
  <p id= 'del'><%= link_to "Delete", task_path(@task.id), method: :delete, data: {confirm: "Delete Task: #{@task.title}?"} %></p>
</section>
