<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dekko|Delius+Unicase|Homemade+Apple" rel="stylesheet">
  </head>

  <body>

    <main>
      <nav>
        <h1>Tasklist</h1>
        <h2><%= link_to "add task", new_task_path, {class: 'button'} %> </h2>
        <h2><%= link_to "all tasks", tasks_path, {class: 'button'} %> </h2>
      </nav>

      <section id='taskbox'>
        <%= yield %>
      </section>
  </body>
</html>
